# GitHub Releases update check target.
VITE_UPDATE_OWNER=QiuYeDx
VITE_UPDATE_REPO=qiuye-electron-template
VITE_UPDATE_RELEASES_URL=https://github.com/QiuYeDx/qiuye-electron-template/releases
VITE_UPDATE_CHANGELOG_URL=https://raw.githubusercontent.com/QiuYeDx/qiuye-electron-template/main/CHANGELOG.md

